<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NIUDirectory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3EAE195F1E9BF7580027A418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EAE19731E9BF7580027A418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EAE197E1E9BF7580027A418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
